@import './default';
@import 'normalize.css';
@import 'sanitize.css';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
}

body {
  color: get-from-colors('foreground');
  background: get-from-colors('background');
  font-size: 16px;
  font-weight: 400;
  position: relative;
  min-height: 100%;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 400;
}
.not-found-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6em;
  height: 100vh;
}

body {
  .fr {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .contents {
    flex: 1 0;
    width: calc(100% - $navWidth);
    margin-left: $navWidth;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #313131;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff19;
  border-radius: 50px;
  border: 2px solid #313131;
  background-clip: padding-box;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff4c;
  border-radius: 50px;
  border: 2px solid #313131;
  background-clip: padding-box;
}
